{
    "openapi": "3.0.0",
    "info": {
        "title": "APIs Públicas - Get IP",
        "description": "Detecção do IP público. JSON inclui response_code e meta.server_timezone. geo (format=json): minimal (padrão) ou geo=full para City completa; geo.isp (GeoLite2 ASN). Operação: apis/getip/README.md.",
        "version": "1.6.0"
    },
    "paths": {
        "/getip": {
            "get": {
                "tags": [
                    "Get IP"
                ],
                "summary": "Retorna o IP público do cliente (JSON com response_code; geo minimal ou full)",
                "operationId": "30755c07e3fffafef6a415fd1475c77f",
                "parameters": [
                    {
                        "name": "format",
                        "in": "query",
                        "description": "Use json para resposta estruturada",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "json"
                            ]
                        }
                    },
                    {
                        "name": "ipv4",
                        "in": "query",
                        "description": "Filtra apenas IPv4",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ipv6",
                        "in": "query",
                        "description": "Filtra apenas IPv6",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "geo",
                        "in": "query",
                        "description": "Sem geo: omita o parâmetro. Truthy/flag/minimal: país, estado, cidade, CEP, timezone + isp. full: City completa (continent, coordinates, subdivision…). Exige format=json.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sucesso. Com format=json: schema GetIpJsonSuccess. Sem format=json: apenas o IP em text/plain.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "203.0.113.42"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIpJsonSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parâmetros inválidos. Com format=json: response_code + error (sem campo status). Sem JSON: texto Error N: mensagem.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string",
                                    "example": "Error 400: O parâmetro geo exige format=json."
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIpJsonError"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "IPv4 ou IPv6 solicitado não disponível para o cliente atual.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIpJsonError"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Apenas GET (e OPTIONS para CORS).",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIpJsonError"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit atingido.",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetIpJsonError"
                                }
                            }
                        }
                    }
                },
                "servers": [
                    {
                        "url": "https://api.galarca.dev",
                        "description": "Servidor de Produção"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "GetIpGeoBlock": {
                "properties": {
                    "location": {
                        "description": "minimal: country, state, city, postal_code, timezone; full: inclui continent_code, subdivisions, latitude/longitude…",
                        "type": "object",
                        "nullable": true,
                        "additionalProperties": true
                    },
                    "isp": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/GetIpIsp"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "GetIpIsp": {
                "properties": {
                    "asn": {
                        "type": "integer",
                        "nullable": true
                    },
                    "organization": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "type": "object",
                "nullable": true
            },
            "GetIpJsonError": {
                "required": [
                    "response_code",
                    "error"
                ],
                "properties": {
                    "response_code": {
                        "type": "integer",
                        "example": 400
                    },
                    "error": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "GetIpJsonSuccess": {
                "required": [
                    "response_code",
                    "ip",
                    "version",
                    "private",
                    "meta"
                ],
                "properties": {
                    "response_code": {
                        "type": "integer",
                        "example": 200
                    },
                    "ip": {
                        "type": "string",
                        "example": "203.0.113.42"
                    },
                    "version": {
                        "type": "string",
                        "enum": [
                            "v4",
                            "v6"
                        ]
                    },
                    "private": {
                        "type": "boolean"
                    },
                    "meta": {
                        "$ref": "#/components/schemas/GetIpMeta"
                    },
                    "geo": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/GetIpGeoBlock"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "GetIpMeta": {
                "properties": {
                    "api": {
                        "type": "string",
                        "example": "getip"
                    },
                    "api_version": {
                        "type": "string",
                        "example": "1.6.0"
                    },
                    "timestamp": {
                        "description": "ISO 8601 com offset do servidor (APP_TIMEZONE)",
                        "type": "string"
                    },
                    "server_timezone": {
                        "type": "string",
                        "example": "America/Sao_Paulo"
                    },
                    "geo_warnings": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "isp_database_unavailable"
                        },
                        "nullable": true
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Get IP",
            "description": "IP público; geo GeoLite2 (minimal/full); isp (ASN + organização)."
        }
    ]
}